<nav
    class="navbar navbar-expand-lg navbar-light bg-light"
    style="opacity: 0.8;"
>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="ParaImg" style="padding-right: 15px">
                <a
                    data-attr="img"
                    class="nav-link"
                    href="/home"
                    rel="prev"
                    target="_self"
                    ><img src="SigaMail (2).png" alt="home"
                /></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/atendimento">Atendimento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tickets">Tickets</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <input
                class="form-control mr-sm-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
            />
            <button
                type="submit"
                style="
                    border: 0px;
                    padding-right: 30px;
                    padding: left 0px;
                    background-color: #f8f9fa;
                "
            >
                <img class="ParaImg" src="search-icon.png" alt="search icon" />
            </button>
            <a
                class="ParaImg"
                href="/login"
                rel="prev"
                target="_self"
                style="padding-right: 10px"
                ><img src="icon-body.png" alt="login"
            /></a>
        </form>
    </div>
</nav>
