<!DOCTYPE html>
<html>
    <head> </head>
    <body>
        <div
            class="card"
            style="
                height: 75vh;
                width: 80vh;
                position: relative;
                top: 6vh;
                left: 60vh;
                background-color: rgb(192, 192, 222);
            "
        >
            <div class="card-body">
                <header class="join-header2">
                    <h1>Medias</h1>
                </header>
                <div>
                    <label
                        for="educando"
                        style="position: relative; left: 1.5vh; margin-top: 4vh"
                    ></label>
                </div>

                <div>
                    <label
                        for="notaPortugues"
                        style="position: relative; left: 1.5vh; margin-top: 4vh"
                    ></label>
                </div>

                <div>
                    <label
                        for="notaPortugues"
                        style="position: relative; left: 1.5vh; margin-top: 4vh"
                    ></label>
                </div>
            </div>
        </div>
    </body>
</html>
