<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="logReg.css" />
        <title>Home</title>
    </head>

    <body>
        <%- include('./partials/nav_header') %>
        <main>
            <div class="container-fluid">
                <div class="container rounded bg-white mt-5 mb-5">
                    <div class="row border-bottom">
                        <div
                            class="justify-content-between align-items-center mb-3"
                            style="
                                background-color: #182c7f;
                                margin: 0 !important;
                                height: 80px;
                            "
                        >
                            <h2
                                class="text-center"
                                style="
                                    color: white;
                                    position: relative;
                                    top: 25px;
                                "
                            >
                                SigaMail
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div
                            class="col-sm-4 border-right"
                            style="
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #4368d2;
                            "
                        >
                            <img
                                style="height: 300px; width: 285px"
                                src="O_mestre_paulo.png"
                            />
                        </div>
                        <div
                            class="col-sm-8 text-center"
                            style="
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                height: 350px;
                                font-size: x-large;
                                background-color: 	#4368d2;
                                color: white;
                            "
                        >
                        <p>
                            <i>" O tempo é o correio da vida, ele trará tudo aquilo
                            que estiver destinado para você. "</i> &nbsp;(Marco Paulo)
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <%- include('./partials/nav_footer') %>
    </body>
</html>
